# --- E1 (Consumer) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-e1
  labels:
    app: agent-e1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent-e1
  template:
    metadata:
      labels:
        app: agent-e1
    spec:
      containers:
      - name: agent-e1
        image: mas-e1:v1
        imagePullPolicy: Never
        env:
        - name: OLLAMA_BASE_URL
          value: "http://ollama-service:11434"
---
# --- E2 (Consumer) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-e2
  labels:
    app: agent-e2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent-e2
  template:
    metadata:
      labels:
        app: agent-e2
    spec:
      containers:
      - name: agent-e2
        image: mas-e2:v1
        imagePullPolicy: Never
        env:
        - name: OLLAMA_BASE_URL
          value: "http://ollama-service:11434"
---
# --- ANALYZE (Consumer con Scaling) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-analyze
  labels:
    app: agent-analyze
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent-analyze
  template:
    metadata:
      labels:
        app: agent-analyze
    spec:
      containers:
      - name: agent-analyze
        image: mas-analyze:v1
        imagePullPolicy: Never
        resources: # Manteniamo le risorse per l'HPA
          requests:
            cpu: "100m"
          limits:
            cpu: "500m"
        env:
        - name: OLLAMA_BASE_URL
          value: "http://ollama-service:11434"
---
# --- FINAL (Consumer) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-final
  labels:
    app: agent-final
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent-final
  template:
    metadata:
      labels:
        app: agent-final
    spec:
      containers:
      - name: agent-final
        image: mas-final:v1
        imagePullPolicy: Never
        env:
        - name: OLLAMA_BASE_URL
          value: "http://ollama-service:11434"